<launch>

  <include file="$(find darknet_ros)/launch/darknet_ros.launch">
    <arg name="image"  value="/camera/rgb/image_raw"/>
		<!-- "/usb_cam/image_raw" --> <!-- "/camera/rgb/image_raw" -->
  </include>

  <include file="$(find navigation)/launch/navigation.launch">
    <arg name="map_file" default="$(find navigation)/maps/lab1.yaml"/>
		<!-- "GrannieAnnie.yaml --> <!-- "lab1.yaml" -->
  </include>


  <node 
	pkg="tayfinder" type="bbxs_to_3dpoint" name="Bbxs_To_3d" output="screen">
  </node>

  <node 
	pkg="tayfinder" type="person_localizator" name="person_localizator" output="log">
  </node>

</launch>
